
spring: {
   redis: {
      host: 'test.codesky.com',
      port: 6379,
      password: 'hbNumsbKf6mWoo65',
      database: 0,
   }
}

reb: {
   scan_base_packages: 'com.codesky.reb,com.codesky.test.reb',
   proto_base_packages: 'com.codesky.test',
   msg: {
      security_key: 'LAxx8xCsB4pakW7o',
   },
   mq: {
      consumer: {
         provider: 'com.codesky.reb.message.mq.impl.RocketMQConsumer',
         uri: 'rocketmq://test.codesky.com:9876?group_id=reb_dev&orderly=yes&batchMaxSize=2&topicTags=test:*',
      },
      producer: {
         provider: 'com.codesky.reb.message.mq.impl.RocketMQProducer',
         uri: 'rocketmq://test.codesky.com:9876?group_id=reb_default_producer_group&orderly=yes',
      },
   }
}
      